body {
    margin: auto;
    width: 550px;
    background-color: #1C1C1C;
    color: #353535;
    font-size: 14px;
}

.ctablock {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
    padding: 24px 0px;
}

.resultsblock {
    background-color: #F4F4F4;
    padding: 24px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.resultscard {
    background-color: red;
    padding: 16px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    display: inline;
    font-size: 28px;
    color: #FFFFFF;
    line-height: 28px;
}

h2 {
    display: inline;
    font-size: 20px;
    line-height: 20px;
    line-height: 150%;
    color: #5A537B;
}

input {
    margin-top: 12px;
    height: 80px;
    width: 106px;
    font-size: 58px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #B295FF;
    border-radius: 4px;
}

button {
    margin-top: 16px;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 24px;
    border: 1px solid #3D3D3D;
    border-radius: 4px;
    color: #3D3D3D;
    background-color: #FFFFFF;
}